<%if @cat.persisted?%>
  <% form_action_url = cat_url(@cat) %>
<%else%>
  <% form_action_url = cats_url %>
<%end%>

<form action="<%= form_action_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <% if @cat.persisted? %>
    <input type="hidden" value="PATCH" name="_method">
  <% end %>

  <label>Name:
  <input type = "text" name = "cat[name]" value="<%= @cat.name %>"></label>

  <label>Color:
    <select name = "cat[color]" id = "cat_color"><br />
      <option></option>
      <% Cat::COLORS.each do |color| %>
         <option value="<%= color %>"
           <%= @cat.color == color ? "selected" : "" %>>
           <%= color %></option>
      <% end %>
    </select>
  </label>

  <label>Age:
  <input type = "integer" name = "cat[age]", value="<%= @cat.age %>"></label>

  <label>Birthday:
  <input type = "date" name = "cat[birth_date]" value="<%= @cat.birth_date %>"></label>

  <label>Female
    <input type="radio" name="cat[sex]" value="F"
    <%= @cat.sex == "F" ? "checked" : "" %>>
  </label>

 <label>Male
  <input type="radio" name="cat[sex]" value="M"
    <%= @cat.sex == "M" ? "checked" : "" %>>
  </label>

  <input type="submit" value="Make Cat">
</form>